body {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, .87);
}

header {
    width: 100%;
    padding: 10px 10px;
    margin: 20px 20px;
    font-size: 13px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px 0 0;
    display: inline-block;
}

nav a {
    text-decoration: none;
    margin-left: 18px;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
}

nav a:first-child {
    margin-left: 0;
}

main {
    font-family: Arial, sans-serif;
    place-items: center;
}

#main_logo {
    margin: 10px 10px;
    position: relative;
}

#imageSearch_letters {
    position: absolute;
    bottom: 1px;
    right: -25px;
    color: #4285f4;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 500px;
    margin: 15px auto;
    padding: 15px 30px;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

input[type="text"]:focus {
    outline: 2px solid transparent;
}

.bottons {
    margin: 20px;
    display: flex;
    gap: 10px;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

input[type="submit"]:hover {
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}