body{
    font-family: arial, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, .87);
}
header{
    width: 100%;
    padding: 10px 10px;
    margin: 20px 20px;
    margin-bottom: 25px;
    font-size: 13px;
}
nav{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px 0 0;
    display: inline-block;
}
nav a {
    text-decoration: none;
    color:inherit;
}
nav a:hover {
    text-decoration: underline;
}

main{
    font-family: Arial, sans-serif; 
    margin: 30px 0px;
}
h1{
    padding-left: 30px;
    font-size: 1.2rem;
    font-weight: lighter;
    color:#d93025;
    padding-bottom: 25px;
    border-bottom: 1px solid #e7e7e7;
}
h2{
    font-size: 1rem;
    margin: 0;
    font-weight: lighter;
    margin-top : 40px;
}
#wrapper{
    width: 100%;
    margin: 0px 30px;
}
form{
    margin: 20px 0px;
    border-bottom: 1px solid #e7e7e7;
}
label {
    display: inline-block;
    width: 150px;
    vertical-align: center;
}
input[type="text"] {
    width: 50%;
    margin: 6px 0px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    font-size: 13px;
}
input[type="text"]:focus {
    outline: 2px solid transparent; 
    background-color: rgb(232, 240, 254);
}
form input[type="submit"] {
    display: inline-block;
    margin-left: calc(150px + 50% - 95px); 
    margin-top: 15px;
    margin-bottom: 30px;
    padding :7px 10px;
    box-shadow: none;
    border-radius: 2px;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    font-weight: bold;
    font-size: 0.7rem;
}
form input[type="submit"]:hover {
    background-color: #3b85fc;
    background-image: -webkit-linear-gradient(top,  #3b85fc, #3c7adc);
    border: 1px solid #3079ed;
    cursor: pointer;
}

